{% extends './frontend/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div id="root"></div>
<script type="text/javascript" src="{{ asset('build/frontend-app.js') }}"></script>



{% endblock %}
